<form #RegForm="ngForm" (ngSubmit)="reg(RegForm)"class='reg-form'novalidate >
	<div class="login-page">
		<div class="form">
	   
			
			<input type="text" placeholder="First Name" name="firstname" ngModel />
			<input type="text" placeholder="Last Name" name="lastname" ngModel  />
			<input type="text" placeholder="Middle Name" name="middleName" ngModel  />
			<input type="email" placeholder="Email" name="email" ngModel  />
			<input type="password" placeholder="Password" name="password" ngModel  />
			<input type="text" placeholder="Phone" name="phoneNumber" ngModel  />
			<input type="radio" value="2" placeholder="RoleId" name="roleId" ngModel  /> Заказчик
			<input type="radio" value="3" placeholder="RoleId" name="roleId" ngModel  /> Водитель
			<input type="date" id="date" placeholder="Date" name="birthDate" ngModel  />
			<input type="submit" value='Зарегистрироваться'>
	
		</div>
	  </div>
	</form>