<!DOCTYPE html>
<html>

<head>
  <title>Form</title>
</head>

<body>

	<form #LogForm="ngForm" (ngSubmit)="reg(LogForm)"class='reg-form'novalidate >

		<div class='form-row'>
			<label for='form_fname'>First Name: </label>
    		<input type='text' id='form_fname' name='firstname'ngModel >
  		</div>

  		<div class='form-row'>
    		<label for='form_sname'>Last Name: </label>
    		<input type='text' id='form_sname' name='lastname'ngModel >
		</div>

		<div class='form-row'>
			<label for='form_email'>Email: </label>
			<input type='email' id='form_email' name='email'ngModel >
		</div>

		<div class='form-row'>
			<label for='form_phone'>Phone: </label>
			<input type='text' id='form_phone' name='phoneNumber'ngModel >
		</div>
    <div class='form-row'>
			<label for='roleId'>roleId: </label>
			<select name="roleId" ngModel >
        <option>Роль2  </option>
        <option>Роль3</option>
      </select>
		</div>

		<div class="form-row">
			<input type="submit" value='Зарегистрироваться'>
		</div>

	</form>

</body>

</html>