
	<form #RegForm="ngForm" (ngSubmit)="reg2(Reg2Form)"class='reg-form'novalidate >
		<div class="login-page">
			<div class="form">
		   
				
				<input type="text" placeholder="DrivingLicence:" name="drivingLicence" ngModel />
				<input type="text" placeholder="ExpiryDate" name="expiryDate" ngModel  />
				<input type="text" placeholder="RegistrationDate" name="registrationDate" ngModel  />
				<input type="text" placeholder="PassportSerial" name="passportSerial" ngModel  />
				<input type="text" placeholder="PassportNumber" name="passportNumber" ngModel  />
				<input type="submit" value='Зарегистрироваться'>
		
			</div>
		  </div>
		</form>