

	<form #Reg2Form="ngForm" (ngSubmit)="reg2(Reg2Form)"class='reg-form'novalidate >

		<div class='form-row'>
			<label for='form_fname'>DrivingLicence: </label>
    		<input type='text' id='form_fname' name='drivingLicence' ngModel >
  		</div>

  		<div class='form-row'>
    		<label for='form_sname'>expiryDate </label>
    		<input type='date' id='form_sname' name='expiryDate' ngModel >
		</div>

		<div class='form-row'>
    		<label for='form_mname'>registrationDate </label>
    		<input type='date' id='form_sname' name='registrationDate'ngModel >
		</div>

		<div class='form-row'>
			<label for='form_email'>passportSerial </label>
			<input type='text' id='form_email' name='passportSerial'ngModel >
		</div>

		<div class='form-row'>
			<label for='form_phone'>passportNumber </label>
			<input type='text' id='form_phone' name='passportNumber'ngModel >
		</div>

		<div class="form-row">
			<input type="submit" value='Зарегистрироваться'>
		</div>

	</form>
