
	<form #RegForm="ngForm" (ngSubmit)="regg(RegForm)"class='reg-form'novalidate >
		<div class="login-page">
			<div class="form">
		   
				
				<input type="text" placeholder="Номер водительских прав:" name="drivingLicence" ngModel />
				<p> Дата выдачи прав</p>
				<input type="date" placeholder="Дата выдачи прав" name="registrationDate" ngModel  />
				<p> Дата окончания прав</p>
				<input type="date" placeholder="Дата окончания прав" name="expiryDate" ngModel  />
				<input type="text" placeholder="Серия паспорта" name="passportSerial" ngModel  />
				<input type="text" placeholder="Номер паспорта" name="passportNumber" ngModel  />
				<input type="submit" value='Зарегистрироваться'>
		
			</div>
		  </div>
		</form>