<app-head></app-head>

<p>ФИО: {{Driver.firstName}} {{Driver.middleName}} {{Driver.lastName}}</p>
<p>Почта: {{Driver.email}}</p>

<p>Все заказы</p>
<table>
  <tr>
    <th>Начальная точка</th>
    <th>Конечная точка</th>
    <th>Цена</th>
    <th>Принять</th>
  </tr>
  <tr *ngFor="let Order of Orders">
    <td>{{Order.addressStartPoint}}</td>
    <td>{{Order.addressEndPoint}}</td>
    <td>{{Order.price}}</td>
    <td><button (click)="TakeOrder(Order.id)">Подтвердить</button></td>
  </tr>
</table>

<p>Свои заказы</p>
<table>
  <tr>
    <th>Начальная точка</th>
    <th>Конечная точка</th>
    <th>Цена</th>
    <th>Действие</th>
  </tr>
  <tr>
    <td>{{MyOrders.addressStartPoint}}</td>
    <td>{{MyOrders.addressEndPoint}}</td>
    <td>{{MyOrders.price}}</td>
    <td *ngIf="MyOrders.rideStatus == 'Поездка, назначена водителю'"><button (click)="StartMyOrder(MyOrders.id)">Начать</button></td>
    <td *ngIf="MyOrders.rideStatus == 'Поездка началась'"><button (click)="EndtMyOrder(MyOrders.id)">Завершить</button></td>
  </tr>
</table>