<p>Список не подтвержденных водителей</p>
<table>
  <tr>
    <th>Дата регистрации</th>
    <th>Фио</th>
    <th>Действие</th>
  </tr>
  <tr *ngFor="let Vod of UnConfirm">
    <td>{{Vod.createDate}}</td>
    <td>{{Vod.fio}}</td>
    <td><button (click)="Privaz(Vod.driverId)">Подтвердить</button></td>
  </tr>
</table>

<p>Список подтвержденных водителей</p>
<table>
  <tr>
    <th>Дата регистрации</th>
    <th>Фио</th>
    <th>Действие</th>
  </tr>
  <tr *ngFor="let Vod of Confirm">
    <td>{{Vod.createDate}}</td>
    <td>{{Vod.fio}}</td>
    <td><button (click)="Otvaz(Vod.driverId)">Отозвать</button></td>
  </tr>
</table>
