<app-head></app-head>


<h2><b>Тарифы перевозчиков и партнеров (за наличный расчет)</b></h2>

<h3 style="font-size:20px; color: #ffffff;  " ><b>Легковые автомобили</b></h3>

<table cellspacing="0" cellpadding="5" >
<tbody>
<tr> 
<td style="vertical-align: middle; padding: 0 4px; font-size: 25px "> <b>Вид услуги</b></td>
<td><span>&nbsp;</span></td>
<td><span class="letter">Посадка<br> руб.</span></td>
<td><span class="letter">Движение<br> руб/км.</span></td>
<td><span class="letter">Простой<br> руб/мин.</span></td>
<td ><span class="letter">Загород<br>(посадка/движение/простой)</span></td>
</tr>
<tr>
<td rowspan="2" style="vertical-align: middle; padding: 0 4px; font-size: 25px "><b>Стандард</b></td>
<td><span class="letter">Будни</span></td>
<td><span class="letter">60</span></td>
<td><span class="letter">12</span></td>
<td><span class="letter">3</span></td>
<td><span class="letter">0/14/3</span></td>
</tr>
<tr>
<td><span class="letter">Выходные и праздники</span></td>
<td><span class="letter">70</span></td>
<td><span class="letter">13</span></td>
<td><span class="letter">3</span></td>
<td><span class="letter">0/15/3</span></td>
</tr>
<tr>
<td rowspan="2" style="vertical-align: middle; padding: 0 4px; font-size: 25px "><b>Комфорт</b></td>
<td><span class="letter">Будни</span></td>
<td><span class="letter">90</span></td>
<td><span class="letter">12</span></td>
<td><span class="letter">3</span></td>
<td><span class="letter">0/15/3</span></td>
</tr>
<tr>
<td><span class="letter">Выходные и праздники</span></td>
<td><span class="letter">100</span></td>
<td><span class="letter">13</span></td>
<td><span class="letter">3</span></td>
<td><span class="letter">0/16/3</span></td>
</tr>
<tr>
<td rowspan="2" style="vertical-align: middle; padding: 0 4px; font-size: 25px "><b>Экстренный вызов</b></td>
<td><span class="letter">Будни</span></td>
<td><span class="letter">90</span></td>
<td><span class="letter">15</span></td>
<td><span class="letter">4</span></td>
<td><span class="letter">0/16/4</span></td>
</tr>
<tr>
<td><span class="letter">Выходные и праздники</span></td>
<td><span class="letter">100</span></td>
<td><span class="letter">16</span></td>
<td><span class="letter">4</span></td>
<td><span class="letter">0/17/4</span></td>
</tr>
<tr>
<td rowspan="2" style="vertical-align: middle; padding: 0 4px; font-size: 25px "><b>Минивены <br>6 мест</b></td>
<td><span class="letter">Будни</span></td>
<td><span class="letter">60</span></td>
<td><span class="letter">18</span></td>
<td><span class="letter">3</span></td>
<td><span class="letter">0/19/3</span></td>
</tr>
<tr>
<td><span class="letter">Выходные и праздники</span></td>
<td><span class="letter">70</span></td>
<td><span class="letter">19</span></td>
<td><span class="letter">3</span></td>
<td><span class="letter">0/20/3</span></td>
</tr>
</tbody>
</table>
