<app-head></app-head>
<body>
<div class="b-text-content"><div class="b-company">

  <h2>
  Наша миссия — постоянно улучшать взаимодействие пассажиров и водителей, помогать людям двигаться к своим целям.
</h2>
<p>В 2019 году мы создали инновационные технологии заказа такси, которые делают услугу более современной, доступной и безопасной. Учитывая специфику и мегаполисов, и провинциальных городов, мы даем пассажирам возможность вызвать такси любым удобным способом, а водителям — оптимизировать процессы поиска и перевозки пассажиров, сократить холостой пробег и простои.
</p>
<p>Такси в современной жизни – это весьма значимый социально-экономический институт, выполняющий самые разнообразные функции: от традиционной доставки пассажиров до спасения жизни человека. 
  </p>
 <p>Такси нужно каждому из нас. Нет людей, которые бы хотя бы раз не пользовались услугами такси. Работа такси находится под пристальным взором рынка. И он не прощает, когда кто-то допускает грубость, неверно или недобросовестно выполняет заказ, или вообще не выполняет его. Рынок наказывает тем, что игнорирует такие такси. И водители, и фирмы, организующие этот сервис, очень хорошо понимают, как важно зарабатывать и беречь собственное резюме. </p>
  <p>Поэтому, возникает необходимость автоматизации службы такси. Которое, позволяет полностью избавиться от рутинных операций и достичь максимальной степени автоматизации диспетчерской такси. В частности, от сотрудников диспетчерской требуется минимум действий распределения водителей по очередям и учета работы с физическими и юридическими лицами, причем в некоторых случаях эти действия происходят автоматически. Наличие множества различных справочников, пополняемых в процессе работы, позволяет привести все данные к одному принятому в системе виду, использовать эти данные для работы диспетчеров и операторов, а также для построения статистических отчетов.
  </p>

</div>
</div>
</body>