<body>
<div class="b-text-content"><div class="b-company">

  <h2>
  Наша миссия — постоянно улучшать взаимодействие пассажиров и водителей, помогать людям двигаться к своим целям.
</h2>
<p>С 2003 года мы создаем инновационные технологии заказа такси, которые делают услугу более современной, доступной и безопасной. Учитывая специфику и мегаполисов, и провинциальных городов, мы даем пассажирам возможность вызвать такси любым удобным способом, а водителям — оптимизировать процессы поиска и перевозки пассажиров, сократить холостой пробег и простои.
</p>
<p>История компании началась в маленьком уральском городе Шадринске с небольшой службы такси. Компанию основали молодые инженеры из Кургана — специалисты по автоматизации технологических процессов и производств.
</p>
<h2>Основатели сами, вместе с приглашенными водителями, работали таксистами на личных автомобилях.</h2>
<p>Они хотели максимально автоматизировать работу с заказами и сделать сервис такси массовым.</p>
<p>Путь непрерывного совершенствования работы компании привел основателей к разделению труда. Каждый должен делать свое дело: одни люди — строить современные контакт-центры и обучать операторов, другие — разрабатывать программные продукты и оказывать техническую поддержку, третьи — привлекать пассажиров и перевозчиков, четвертые — заниматься перевозками. Сейчас для оказания услуги совместно работают команды специалистов в самых разных областях знаний.
</p>
<p>За первые шесть лет была налажена работа в четырех городах, были выстроены эффективные бизнес-процессы и выработаны традиции взаимовыгодного сотрудничества, которые обусловили дальнейшее расширение компании. Так, в 2009 году мы открыли подразделения сразу в семи новых городах, в 2010 году — в 17 городах, затем темпы доходили до 22 городов за год!
</p>
<h2>В каждом городе мы усиливаем конкуренцию, даем работу водителям, платим налоги, работаем на благо людям и экономике.</h2>
<p>Мы гордимся, что благодаря нашим стремлениям и опыту был разработан мощный программно-аппаратный комплекс, который обеспечивает функционирование сервиса и предоставляет детальную аналитику для гибкого управления бизнесом. На основе наших требований разработана система профессионального обучения операторов. Сейчас огромное количество заказов, круглосуточно поступающих по телефону, с нашего сайта и через приложение «Максим: заказ такси», принимает крупнейший в Российской Федерации специализированный контакт-центр по приему и обработке заказов на пассажирские и грузовые перевозки. И также он обслуживает водителей, которые работают с заказами через приложение «Taxsee driver».
</p>
<p>С 2014 года мы начали работать за пределами Российской Федерации, открывая подразделения на Украине, в Казахстане, Грузии, Болгарии, Таджикистане, Беларуси, Азербайджане, Италии. Мы выросли в компанию международного масштаба.</p>
<p>Мы стремимся стать глобальным брендом, чтобы, путешествуя по разным городам и странам, наши клиенты везде могли воспользоваться услугами сервиса «Максим».</p>
<h2>Нам приятно создавать технологии и бизнес наравне с лидерами мирового рынка.</h2>
<p> </p>
</div>
</div>
</body>