<app-head></app-head>





<p>ФИО: {{User.firstName}} {{User.middleName}} {{User.lastName}}</p>
<p>Почта: {{User.email}}</p>

<div *ngIf="MyOrder != null">
  <h2>Ваш заказ:</h2>
  <table>
    <tr>
      <th>Адрес отправки</th>
      <th>Адрес назначения</th>
      <th>Машина</th>
      <th>Цена</th>
      <th>Статус</th>
    </tr>
    <tr >
      <td>{{MyOrder.addressStartPoint}}</td>
      <td>{{MyOrder.addressEndPoint}}</td>
      <td>{{MyOrder.carBrand}} {{MyOrder.carColor}} {{MyOrder.carModel}}</td>
      <td>{{MyOrder.price}} руб.</td>
      <td>{{MyOrder.rideStatus}}</td>
    </tr>
  </table>
</div>

<div *ngIf="MyOrder == null">
<button (click)="GetDistanse()">Расчитать стоимость</button><br>
<input type="hidden" id="StartP1" name="Start1">
<input type="hidden" id="StartP2" name="Start2">

<input type="hidden" id="EndP1" name="End1">
<input type="hidden" id="EndP2" name="End2">
<input type="hidden" id="Dist">
<form *ngIf="Distanse != null" #myForm="ngForm" (ngSubmit)="AddOrder(myForm)"> 


    <!-- <label for="Dist"> Стоимость</label><br>
    <input type="text" name="Dist" id="Dist" disabled> -->
    <div >
      <label >Тариф: </label>
      <select name="Type" [(ngModel)]="TypeCar"> 
        <option [value]="1">Комфорт:{{Cars.comfort}} руб</option>
        <option [value]="2">Экстренный:{{Cars.emergency}} руб</option>
    
        <option [value]="4">Стандарт:{{Cars.standart}} руб</option>
      </select>
    </div>

    <div >
      <label >Тип оплаты: </label>
      <select name="TypePayment" [(ngModel)]="TypePayment"> 
        <option *ngFor="let Payment of TypePayments" [value]="Payment.id">{{Payment.typeName}}</option>
      </select>
    </div>

    <button type="submit">Заказать</button>

</form>
<p>{{DistanTest}}</p>

<div id="map"></div>
</div>
<!-- <p>Ваш заказ</p>
<table>
  <tr>
    <th>Дата регистрации</th>
    <th>Фио</th>
    <th>Действие</th>
  </tr>
  <tr *ngFor="let Vod of UnConfirm">
    <td>{{Vod.createDate}}</td>
    <td>{{Vod.fio}}</td>
    <td><button (click)="Privaz(Vod.driverId)">Подтвердить</button></td>
  </tr>
</table> -->