<p>ФИО: {{User.firstName}} {{User.middleName}} {{User.lastName}}</p>
<p>Почта: User.email</p>

<p>
  пользователь, карта, заказ, расчет стоимости
</p>
<button (click)="GetDistanse()">Расчитать стоимость</button><br>
<form *ngIf="Distanse != null" #myForm="ngForm" (ngSubmit)="AddOrder(myForm)"> 
    <input type="hidden" id="StartP" name="Start">
    <label for="Dist"> Стоимость</label><br>
    <input type="text" name="Dist" id="Dist" disabled>
    <div >
      <label >Машина: </label>
      <select name="Type" [(ngModel)]="TypeCar"> 
        <option [value]="Cars.comfort">Комфорт:{{Cars.comfort}} руб</option>
        <option [value]="Cars.emergency">Экстренный:{{Cars.emergency}} руб</option>
        <option [value]="Cars.minivan">Минивэн:{{Cars.minivan}} руб</option>
        <option [value]="Cars.standart">Стандарт:{{Cars.standart}} руб</option>
      </select>
    </div>
    <button type="submit">Заказать</button>

</form>
<p>{{DistanTest}}</p>

<div id="map"></div>