<header>

  <div class="header-left">
    <a><img src="" width="410" height="150"  alt="logo"></a>
    
  </div>

  <div class="header-center">
    <nav>
      <ul class="top-menu">
        <li><a routerLink="">Главная</a></li>
        <li class="active">dTax</li>
        <li><a routerLink="/info">Информация</a></li>
        <li><a routerLink="/partners">Партнеры</a></li>
        <li><a routerLink="/info">О нас</a></li>
        <li><a routerLink="/tarif">Тарифы</a></li>
        <li><a routerLink="/contacts">Контакты</a></li>
        <li><a routerLink="/help">Поддержка</a></li>
      </ul>
    </nav>
    <div id="heading">
      <h1>dTax</h1>
    </div>
  </div>
  <div class="header-right"><button><a routerLink="">Выйти</a></button></div>
</header>